/*
@font-face {
  font-family: 'GESSTwo';
  src: url('../fonts/GessTwo/GESSTwoBold-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GessTwo/GESSTwoBold-Bold.otf')  format('opentype'),
        url('../fonts/GessTwo/GESSTwoBold-Bold.woff') format('woff'),
        url('../fonts/GessTwo/GESSTwoBold-Bold.ttf')  format('truetype'),
        url('../fonts/GessTwo/GESSTwoBold-Bold.svg#GESSTwoBold-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GESSTwo';
  src: url('../fonts/GessTwo/GESSTwoMedium-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GessTwo/GESSTwoMedium-Medium.otf')  format('opentype'),
      url('../fonts/GessTwo/GESSTwoMedium-Medium.woff') format('woff'),
      url('../fonts/GessTwo/GESSTwoMedium-Medium.ttf')  format('truetype'),
      url('../fonts/GessTwo/GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GESSTwo';
  src: url('../fonts/GessTwo/GESSTwoLight-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GessTwo/GESSTwoLight-Light.otf')  format('opentype'),
      url('../fonts/GessTwo/GESSTwoLight-Light.woff') format('woff'),
      url('../fonts/GessTwo/GESSTwoLight-Light.ttf')  format('truetype'),
      url('../fonts/GessTwo/GESSTwoLight-Light.svg#GESSTwoLight-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
*/
