@import '~vue-multiselect/dist/vue-multiselect.min.css',
'libs/jquery.fileuploader-theme-gallery.css',
'libs/fileuploader',
'~vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css',
'variables',
'admin-brand';

.btn-primary {
    background-color: $primary !important;

    &:hover {
        background-color: $light !important;
        border-color: $primary !important;
        color: $primary !important;
    }

    &:focus {
        box-shadow: 0 0 0 2px rgba( $primary, .3 );
    }
}

.b-form-spinbutton {
    height: unset;
    margin-right: 5px;

    output {
        justify-content: center;
    }
}

.b-time-header {
    margin-bottom: 10px;
}

.verification-inner {
    max-width: 700px !important;
}

.complete-profile-avatar {
    .fileuploader-thumbnails-input-inner {
        height: 76px;
    }

    .fileuploader-thumbnails-input {
        position: inherit;
    }
}

.status-hover-on-item {
    &:hover {
        background-color: $secondary;
        color: #ffffff;
    }
}

.b-time {
    padding: 10px;

    .b-time-footer {
        padding: 10px;
    }
}

.b-form-date-calendar {
    .b-calendar-inner {
        width: 30vw !important;
    }
}

#example-datepicker__outer_ {
    background-clip: unset !important;
    border: unset !important;
}

#birthday-datepicker {
    display: flex;
    align-items: center;
    padding: 0 6px 0 0;

    &:focus {
        box-shadow: unset !important;
    }
}

#birthday-datepicker__value_ {
    margin: 0 !important;
}

.b-form-timepicker {

}

.translations-link {
    border-bottom: dashed 1px $primary;
    cursor: pointer;
}

.slide-thumbnail {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.slide-thumbnail-parent {
    width: 100%;
    margin-bottom: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.7s infinite linear;
    -o-animation: bounce 0.7s infinite linear;
    -webkit-animation: bounce 0.7s infinite linear;
    animation: bounce 0.7s infinite linear;
}

@keyframes bounce {
    0% { top: 0; transform: scale(1,1)}
    20% { top: -0.3em; transform: scale(1.1,.9)}
    50% { top: -0.5em; transform: scale(.9,1.1)}
    70% { top: -0.6em; transform: scale(1.05,.95)}
    100% { top: 0; transform: scale(1,1)}
}
