.multiselect__option--highlight {
    background: #FEC63D !important;
}

.fileuploader {
    padding: 0 !important;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse !important;
}

.app-brand .layout-sidenav-toggle {
    margin-left: 55px !important;
}

.b-form-timepicker > label {
    margin-bottom: 0 !important;
}
