.multiselect__option--highlight {
    background: #FEC63D !important;
}

.fileuploader {
    padding: 0 !important;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse !important;
}

.app-brand .layout-sidenav-toggle {
    margin-left: 55px !important;
}

.b-form-timepicker > label {
    margin-bottom: 0 !important;
}

.multiselect__tag {
    background: #FEC63D !important;
}

.multiselect__tag-icon:after {
    color: #ffffff !important;
}

.b-form-timepicker > label {
    background-color: rgba(24, 28, 33, 0.06) !important;
}

.label-white-bg > label {
    background-color: #FFFFFF !important;
}

.b-form-timepicker button:focus {
    outline: 0 !important;
    box-shadow: unset !important;
}

.order-timeline {
    padding-left: 0 !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.order-timeline.horizontal {
    flex-direction: column;
}

.order-timeline:before {
    content: '';
    position: absolute;
    border: 1px solid #FEC63D;
    width: 100%;
    bottom: auto;
    top: 7px;
}

.order-timeline.horizontal:before {
    width: auto !important;
    height: 380px !important;
    left: 10px;
    top: 0;
}

.order-timeline li {
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.order-timeline.horizontal li {
    justify-content: start;
    width: 100%;
    align-items: start;
}


.timeline-circle {
    width: 15px;
    height: 15px;
    border: solid 1px #FEC63D;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    z-index: 9999;
}

.timeline-circle.active {
    background-color: #FEC63D;
}
